<div class="filter">
  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input matInput placeholder="Введите название" [formControl]="filterForm.controls['title']">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Описание</mat-label>
    <input matInput placeholder="Введите описание" [formControl]="filterForm.controls['description']">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Минимальна сумма</mat-label>
    <input matInput type="number" min="0" placeholder="Введите минимальную сумму"
      [formControl]="filterForm.controls['minPrice']">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Максимальная сумма</mat-label>
    <input matInput type="number" min="0" placeholder="Введите макимальеую цену"
      [formControl]="filterForm.controls['maxPrice']">
  </mat-form-field>

  <div class="splitter"></div>

  <button mat-flat-button color="primary" (click)="onAdd()">
    Добавить сертификат
  </button>
</div>

<div class="list-container">
  <table mat-table [dataSource]="dataSource">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Описание</th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Стоимость</th>
      <td mat-cell *matCellDef="let row"> {{row.price}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="certificateColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: certificateColumns;"></tr>
  </table>
</div>