:host {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .filter {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
  }
  
  .splitter {
    flex: 1;
    height: 100%;;
  }
  
  .list-container {
    padding: 10px;
    flex: 1;
    max-height: 100%;
    overflow: auto;
  }
  