<mat-table [dataSource]="dataSource">

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>
      <span>Название</span>
      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Введите название" [formControl]="filterForm.controls['title']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>
      <span>Описание</span>
      <mat-form-field appearance="outline">
        <mat-label>Описание</mat-label>
        <input matInput placeholder="Введите описание" [formControl]="filterForm.controls['description']">
      </mat-form-field></mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>
      <span>Стоимость</span>
      <mat-form-field appearance="outline">
      <mat-label>Минимальна сумма</mat-label>
      <input matInput type="number" min="0" placeholder="Введите минимальную сумму"
             [formControl]="filterForm.controls['minPrice']">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Максимальная сумма</mat-label>
        <input matInput type="number" min="0" placeholder="Введите макимальеую цену"
               [formControl]="filterForm.controls['maxPrice']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <td> {{row.price}} </td>
    </mat-cell>
  </ng-container>

  <!-- CreateTime Column -->
  <ng-container matColumnDef="createDate">
    <mat-header-cell *matHeaderCellDef>
      <span>Дата создания</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.createTime | date: 'dd/MM/yyyy hh:mm'}} </mat-cell>
  </ng-container>

  <!-- UpdateTime Column -->
  <ng-container matColumnDef="updateDate">
    <mat-header-cell *matHeaderCellDef>
      <span>Дата обновления</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.updateTime | date: 'dd/MM/yyyy hh:mm'}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-flat-button color="primary" (click)="onAdd()">
        Добавить сертификат
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onEdit(row)">
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="certificateColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: certificateColumns;"></mat-row>
</mat-table>