<mat-table [dataSource]="dataSource">

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>
      <span>Описание</span>
      <mat-form-field appearance="outline">
        <mat-label>Описание</mat-label>
        <input matInput placeholder="Введите описание" [formControl]="filterForm.controls['description']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>

  <!-- Sum Column -->
  <ng-container matColumnDef="sum">
    <mat-header-cell *matHeaderCellDef>
      <span>Сумма</span>
      <mat-form-field appearance="outline">
        <mat-label>Минимальна сумма</mat-label>
        <input matInput type="number" min="0" placeholder="Введите фамилию" [formControl]="filterForm.controls['minSum']">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Максимальная сумма</mat-label>
        <input matInput type="number" min="0" placeholder="Введите телефон" [formControl]="filterForm.controls['maxSum']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.sum}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-flat-button color="primary" (click)="onAdd()">
        Добавить вознаграждение
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onUpdate(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="rewardColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: rewardColumns;"></mat-row>
</mat-table>