:host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-block {
  display: flex;
  border: 1px solid #c0bfbf;
  border-radius: 10px;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 330px;
  padding: 0 10px;
  background-color: #f9f9f9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-block {
  height: 500px;
  width: 330px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-icon {
    font-size: 120px;
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
  }

  .error {
    position: relative;
    bottom: 10px;
  }

  button,
  mat-form-field {
    width: 100%;
  }
}