<mat-table [dataSource]="dataSource">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span>Имя</span>
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Введите имя" [formControl]="filterForm.controls['name']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <mat-header-cell  *matHeaderCellDef>
      <span>Фамилия</span>
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput placeholder="Введите фамилию" [formControl]="filterForm.controls['surname']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>
      <span>Телефон</span>
      <mat-form-field appearance="outline">
        <mat-label>Телефон</mat-label>
        <input matInput type="phone" placeholder="Введите телефон" [formControl]="filterForm.controls['phone']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
  </ng-container>

  <!-- Sum Column -->
  <ng-container matColumnDef="sum">
    <mat-header-cell *matHeaderCellDef>
      <span>Сумма</span>
      <mat-form-field appearance="outline">
        <mat-label>Мин. сумма на счете</mat-label>
        <input matInput type="number" min="0" placeholder="Введите сумму" [formControl]="filterForm.controls['minSum']">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Макс. сумма на счете</mat-label>
        <input matInput type="number" min="0" placeholder="Введите сумму" [formControl]="filterForm.controls['maxSum']">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.sum}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-flat-button color="primary" (click)="onAdd()">
        Добавить ученика
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onInfo(row)">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button (click)="onEdit(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="studentColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: studentColumns;"></mat-row>
</mat-table>
