:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  ::ng-deep .mat-mdc-tab-label-container {
    background-color: aliceblue;
  }
}

mat-toolbar {
  justify-content: space-between;
}