<ng-container *ngIf="student">
    <div class="student">
        <img src="assets/levi.jpg">
        <div class="info">
            <span class="name">Дима Карканица</span>
            <span class="attributes">11 A класс | 300 бонусов</span>
            <span class="phone">+375296701698</span>
        </div>
    </div>
    <div class="transactions-list">
        <div *ngFor="let reward of student.studentRewards" class="transaction reward">
            <div class="icon-block">
                <mat-icon matTooltip="{{reward.reward.description}}">stars</mat-icon>
            </div>
            <div class="time-money">
                <div>
                    <mat-icon>schedule</mat-icon>
                    <p>{{ reward.time | date: 'hh:mm, dd/mm/yyyy' }}</p>
                </div>
                <div>
                    <mat-icon>payments</mat-icon>
                    <p>{{ reward.sum }}</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>