:host {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.student {
    display: flex;
    gap: 20px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    .info {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        gap: 15px;

        .name {
            font-size: 30px;
            line-height: 30px;
        }

        .attributes {
            font-size: 16px;
        }

        .phone {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

.transactions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    padding: 10px;
    background-color: #fafafa;
    overflow: auto;

    .transaction {
        display: flex;
        gap: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: 4px 4px 4px 0 rgba(34, 60, 80, 0.2);

        &:hover {
            box-shadow: 4px 4px 20px 0 rgba(34, 60, 80, 0.2);
        }

        .icon-block {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;

            mat-icon {
                color: white;
                font-size: 40px;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }

        &.reward {
            .icon-block {
                background-color: #84cb84;
            }
            
            .time-money {
                display: flex;
                flex-direction: column;

                div {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
